body{
    font-family: Helvetica;
}
.head.h1 {
    font-size: 80px;
}
.head.h2{
    font-size: 40px;
}
.head.h1,.head.h2{
    color: #EDF2F4;
}
header,footer,.education{
    padding: 30px;
}
a{
    color: #EF233C;
}
header,footer{
    color:#8D99AE;
    background-color: #2B2D42;
}
.education{
    background-color: #8D99AE;
}
header{
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
}